.header{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 92px 50px;
}
.header_menu {
  justify-self: start;
  width: 100%;
}
.header_menu_list { 
  display: flex; 
  flex-direction: row; 
  justify-content: left; 
  margin: 0; 
  padding: 0; 
  gap: 32px; 
  list-style: none; 
  font-size: 18px; 
  text-underline-offset: 4px;
} 

.header_menu_item_no-bullit { 
  list-style-type: none; 
} 

.header_link_individ, .footer_menu_link_active { 
  color: black; 
  text-decoration: none; 
} 

.header_menu_item { 
  list-style-type: circle; 
} 

.address_link  { 
  text-decoration-line: underline; 
  color:black; 
} 
.header_menu_logo {
  display: flex;
  justify-content: center;
  width: 148px;
  height: 105px;
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  justify-self: end;
  text-align: left;
  width: 240px;
  border: 1px;
  gap: 4.3px;
  font-style: normal;
  font-size: 18px; 
  text-underline-offset: 4px; 
}
.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.cover {
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.png");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  z-index: 0;
  padding: 165px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  justify-content: space-between;
}
.cover_title {
  position: relative;
  z-index: 2;
  display: flex; 
  flex-direction: column;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  margin: 0;
  letter-spacing: 0.3em;
  flex-grow: 1;
  width: 100%;
  line-height: 1.15;
  margin-right: -30px;
}
.aligned-text_left { 
  display: block;
  text-align: left; 
  padding-left: 0;
}
.aligned-text_center { 
  display: block;
  text-align: center;
  margin-top: 20px;
}
.aligned-text_right {
  display: block; 
  text-align: right;
  margin-top: 20px;
  padding-right: 0;
}
.last_letter {
  letter-spacing: 0;
}
.cover_description {
  display: flex;
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.cover_description-text {
  font-size: 22px;
  color:#FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 18px;
  margin: 0; 
  line-height: 1;
}
.bet-button {
  background-color: transparent;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid currentColor;
  padding: 12px 32px 11px 31px;
  white-space: nowrap;
  margin: 0; 
}
.lots {
  padding-top: 180px;
  width: 100%;
  max-width: 1052px;
  margin: 0 auto;
  box-sizing: border-box;
}
.lots_heading {
  font-size: 40px;
  color:black;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-top: 0;
  margin-left: 40px;
}
.lots_card-list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 25px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}
.lots_card-list-item {
  min-height: 596px;
  width: 334px;
  list-style-type: none;
}
.card-link,
.card {
  height: 100%;
  text-decoration: none;
  color: #FFFFFF;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 40px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}
.card_title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 0;
}
.card_text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
.card_type_film {
  background-image: url(../images/photo.png);
}
.card_type_book {
  background-image: url(../images/book.png);
}
.card_type_picture {
  background-image: url(../images/image.png);
}
.lots_look-more-link {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  color: black;
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-left: 40px;
  margin-top: 30px;
}
.about {
  width: 1052px;
  margin-top: 120px;
  display: grid;
  grid-template-columns: 334px 1fr;
  box-sizing: border-box;
  gap: 48px;
}
.about_logo {
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
}
.about_content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.about_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 100px;
  margin-top: 136px;
}
.about_text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.about_text_individ {
  margin: 0 0 24px 0;
}
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin-top: 180px;
  padding: 0 50px 82px 50px;
}
.footer_address {
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  justify-self: start;
  width: 264.57px;
}
.footer_menu {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  align-items: flex-start;
  margin: 0;
  width: 163.9px;
}
.footer_menu_list {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px; 
  text-underline-offset: 4px; 
}
.footer_social_list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap:48px;
  justify-content: flex-end;
  align-self: flex-start;
  align-items: flex-start;
  margin: 0;
}
.pixel-perfect-image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}